<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pgt.xds">

    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许程序读写手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".login.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterOneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.RegisterTwoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ForgetPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".login.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".riding.RidingStateActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="aeb466b5021bd1601d5c6dce4b9cfdfe" />

        <activity android:name=".club.CompetitionActivity" />
        <activity android:name=".club.TroopsActivity" />
        <activity android:name=".club.NewTroopsActivity" />
        <activity android:name=".club.SetTroopsActivity" />
        <activity android:name=".club.RidingTroopsActivity" />
        <activity android:name=".club.MyCompetitionActivity" />
        <activity android:name=".discover.JDActivity" />
        <activity android:name=".discover.InquireActivity" />
        <activity android:name=".my.CompileInfoActivity" />
        <activity android:name=".my.CompileNameActivity" />
        <activity android:name=".my.CompilePhoneActivity" />
        <activity android:name=".my.CompileSexActivity" />
        <activity android:name=".my.CompileAddressActivity" />
        <activity android:name=".my.CompileAgeActivity" />
        <activity android:name=".my.SetActivity" />
        <activity android:name=".my.SeekActivity" />
        <activity android:name=".my.HistoryActivity" />
        <activity android:name=".my.StatisticsActivity"></activity>
    </application>

</manifest>